* {
    font-family: sans-serif;
    line-height: 1.618em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}

body {
    background-color: #2B2B2B;
}

html{
    font-size: calc(1em + .20vw);
    margin-top: 3em;
    color: whitesmoke;
}

header, main {
    margin: 0 auto;
    max-width: 1200px;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;

    display: flex;
    flex-flow: row;
    justify-content: flex-end;

    background: orangered;
}

nav a {
    padding: .5em 1em;
    text-decoration: none;
    color: white;
}

nav a:hover {
    background: #666;
}

#about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
<<<<<<< HEAD
    max-width: 90%;
=======
>>>>>>> 7358ef2d5a878774ca13cbab6be55871e9960e81
}

#about img {
    padding-top: 2em;
    display: block;
    margin-right: 200px;
<<<<<<< HEAD
    width: 50vm;
=======
    width: 90%;
>>>>>>> 7358ef2d5a878774ca13cbab6be55871e9960e81
}

.aboutMe {
    margin: auto auto;
<<<<<<< HEAD
=======
    max-width: 90%;
>>>>>>> 7358ef2d5a878774ca13cbab6be55871e9960e81
    font-size: 1em;
}

.aboutMe p {
    padding-bottom: 2em;
}

.aboutMe ul li {
    padding: .75em;
}

footer {
    background-color: orangered;
    color: whitesmoke;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}